---
import { Image } from "astro:assets";
import { Loader2 } from "lucide-react";

const { title, img, brand, price, slug } = Astro.props;
---
<li>
  <a href={`/${slug}`} class="w-72 flex flex-col gap-4 hover:scale-105 transition-all duration-300 cursor-pointer">
    <div class="relative w-72 h-72">
      <Image
        src={img}
        alt={title}
        width={288}
        height={288}
        class="size-72 object-contain z-10 relative"
        draggable="false"
        transition:name={`img-${slug}`}
      />
      <div class="absolute inset-0 flex items-center justify-center">
        <Loader2 className="animate-spin text-primary size-7 z-0" /> 
      </div>
    </div>
  <section class="flex flex-col">
    <h2 class="text-base font-bold text-zinc-700" transition:name={`title-${slug}`}>{title}</h2>
    <p class="text-sm text-zinc-500" transition:name={`brand-${slug}`}>{brand}</p>
    <p class="text-sm text-zinc-600" transition:name={`price-${slug}`}>{price}</p>
  </section>
  </a>
</li>
