---
import { Image } from 'astro:assets';
import logo from '@/assets/logo-white.png';
import { Phone, Facebook, Instagram, MessageCircle } from "lucide-react";
import { WHATSAPP_URL, FACEBOOK_URL, INSTAGRAM_URL, PHONE_URL } from "astro:env/server";
import { getCollection } from 'astro:content';

const courses = await getCollection("courses");

---
<footer class="bg-gradient-to-br from-primary to-blue-950 shadow-md py-12 px-6 w-full">
  <div class="mx-auto w-full flex flex-col md:flex-row justify-between">
    <div class="flex my-auto">
      <a href="/">
        <Image src={logo} alt="Importho Logo"  class="p-2 w-full h-auto md:h-32 md:w-auto bg-transparent" draggable="false" />
      </a>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-12 md:gap-8 mt-16 md:mt-0">
      <div class="col-span-1">
        <h3 class="font-bold text-sm text-zinc-100 mb-4">Social</h3>
        <ul class="space-y-3">
          <li><a href={PHONE_URL} class="text-sm text-zinc-200 hover:text-zinc-300"><Phone className="inline mr-2 h-4 w-4" />Teléfono</a></li>
          <li><a href={WHATSAPP_URL} target="_blank" rel="noopener noreferrer" class="text-sm text-zinc-200 hover:text-zinc-300"><MessageCircle className="inline mr-2 h-4 w-4" />WhatsApp</a></li>
          <li><a href={FACEBOOK_URL} target="_blank" rel="noopener noreferrer" class="text-sm text-zinc-200 hover:text-zinc-300"><Facebook className="inline mr-2 h-4 w-4" />Facebook</a></li>
          <li><a href={INSTAGRAM_URL} target="_blank" rel="noopener noreferrer" class="text-sm text-zinc-200 hover:text-zinc-300"><Instagram className="inline mr-2 h-4 w-4" />Instagram</a></li>
        </ul>
      </div>

      <div class="col-span-1">
        <h3 class="font-bold text-sm text-zinc-100 mb-4">Recursos</h3>
        <ul class="space-y-3">
          <li><a href="/about" class="text-sm text-zinc-200 hover:text-zinc-300">Sobre nosotros</a></li>
          <li><a href="/contact" class="text-sm text-zinc-200 hover:text-zinc-300">Contáctanos</a></li>
        </ul>
      </div>

      <div class="col-span-1">
        <h3 class="font-bold text-sm text-zinc-100 mb-4">Catálogo</h3>
        <ul class="space-y-3">
          <li><a href="/importho" class="text-sm text-zinc-200 hover:text-zinc-300">IMPORTHO</a></li>
          <li><a href="/gummetal" class="text-sm text-zinc-200 hover:text-zinc-300">GUMMETAL</a></li>
          <li><a href="/mouthwashes" class="text-sm text-zinc-200 hover:text-zinc-300">Enjuagues dentales</a></li>
          <li><a href="/catalog" class="text-sm text-zinc-200 hover:text-zinc-300">Todos los productos</a></li>
        </ul>
      </div>

      <div class="col-span-1">
        <h3 class="font-bold text-sm text-zinc-100 mb-4">Cursos</h3>
        <ul class="space-y-3">
          {courses.map(({ data: { title }, slug }) => (
            <li><a href={`courses/${slug}`} class="text-sm text-zinc-200 hover:text-zinc-300">{title}</a></li>
          ))}
          <li><a href="/courses" class="text-sm text-zinc-200 hover:text-zinc-300">Todos los cursos</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>